body {
  --light-blue: #0FBBDD;
  --dark-blue: #0955BB;
  background-color: var(--light-blue);
}

.heading {
  font-family: 'Concert One', cursive;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px black;
}

#search {
  width: 500px;
  height: 50px;
  padding-left: 10px;
  border: none;
  outline: none;
}

#search:focus {
  background-color: rgba(100, 100, 100, 1);
  color: #FFF;
}

#search:focus::-webkit-input-placeholder {
    color: #FFF;
}

#search:focus::-moz-placeholder {
    color: #FFF;
}

.btn {
  width: 244px;
  border-radius: 0px;
  background-color: #018bed;
  color: #FFF;
  outline: none;
}

@media screen and (max-width: 600px) {

  .heading {
    font-size: 80px;
  }

  #search {
    width: 95%;
  }

  .btn {
    width: 45%;
  }
}

.result {
  background-color: #FFF;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.result:hover {
  left: 300;
  border-left: 5px solid #005a9b;
  background-color: #28a5ff;
  color: #FFF;
}

.result h4, .result p {
  margin: 5px;
}

.result p {
  margin: 5px;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}
